@font-face {
  font-family: 'Pokemon GB';
  src: url("/PokemonGB.woff2") format("woff2"), url("/PokemonGB.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.wrapper {
  font-family: 'Pokemon GB';
  font-weight: normal;
  font-style: normal;
  height: 100vh;
  background: #000;
  background-image: url("/bg-pokedex.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .wrapper .prof {
    width: 37vw;
    min-width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -85%);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 1; }
@keyframes example {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .wrapper .searchwrapper {
    height: 145px;
    width: 80vw;
    margin: auto;
    display: block;
    position: relative;
    bottom: 0;
    top: 95%;
    transform: translateY(-100%); }
    .wrapper .searchwrapper .text-box {
      width: 100%;
      min-height: 200px;
      position: absolute;
      bottom: 0;
      z-index: -2; }
    .wrapper .searchwrapper .text, .wrapper .searchwrapper input {
      font-size: 21px;
      width: 90%;
      margin: auto; }
    .wrapper .searchwrapper form {
      margin: auto;
      width: 90%;
      margin-top: 13px; }
      .wrapper .searchwrapper form p {
        font-size: 11px;
        color: #dc3545;
        position: absolute; }
      .wrapper .searchwrapper form input {
        font-family: 'Pokemon GB';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        border: none;
        border-bottom: 1px solid gray;
        padding-bottom: 5px;
        background: transparent;
        width: 60%;
        margin-top: 5px; }
        .wrapper .searchwrapper form input:focus {
          outline: none; }
      .wrapper .searchwrapper form .error {
        border-bottom: 1px solid #dc3545;
        color: #dc3545; }
        .wrapper .searchwrapper form .error::-webkit-input-placeholder {
          color: #dc3545; }
        .wrapper .searchwrapper form .error:-moz-placeholder {
          color: #dc3545; }
        .wrapper .searchwrapper form .error::-moz-placeholder {
          color: #dc3545; }
        .wrapper .searchwrapper form .error:-ms-input-placeholder {
          color: #dc3545; }
      .wrapper .searchwrapper form button {
        color: black;
        display: block;
        background: transparent;
        padding: 12px 50px;
        border-bottom: 3px solid black;
        position: relative;
        border-top: 3px solid black;
        float: right;
        cursor: pointer;
        font-family: 'Pokemon GB';
        font-weight: normal;
        font-style: normal; }
        .wrapper .searchwrapper form button:disabled {
          opacity: 0.4;
          cursor: auto; }
        .wrapper .searchwrapper form button:before, .wrapper .searchwrapper form button:after {
          content: '';
          top: 0;
          width: 3px;
          height: 100%;
          position: absolute;
          background: black; }
        .wrapper .searchwrapper form button:before {
          left: -3px; }
        .wrapper .searchwrapper form button:after {
          right: -3px; }

@media screen and (max-width: 700px) {
  .wrapper {
    background-position-y: -50px; }
    .wrapper .prof {
      top: 28%;
      min-width: auto;
      width: 65vw; }
    .wrapper .searchwrapper {
      height: 280px;
      top: 85%; }
      .wrapper .searchwrapper .text {
        line-height: 22px;
        font-size: 13px; }
      .wrapper .searchwrapper .text-box {
        min-height: 315px; }
      .wrapper .searchwrapper form input {
        margin-top: 15px;
        width: 100%;
        font-size: 12px;
        height: 100%; }
      .wrapper .searchwrapper form p {
        font-size: 10px;
        position: relative; }
      .wrapper .searchwrapper form button {
        margin-top: 25px;
        float: none;
        width: 100%;
        font-size: 12px; } }

/*# sourceMappingURL=App.css.map */
